*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #355075;
    --secondary-color: #755935;
    --text-color: rgb(47, 47, 47);
    --highlight-color: #3043bc;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--highlight-color);
}

body{
    color: var(--text-color);
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
}

header{
    align-items: center;
    background-color: white;
    border-bottom: solid 1px var(--text-color);
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
    width: 100%;
}

h1{

    font-size: 2rem;
    color: var(--primary-color);
}

h2, h3, h4, h5, h6{
    line-height: 40px;
    font-size: 1.8rem;
    color: var(--secondary-color);
}

header>nav>ul{
    display: flex;
    gap: 5px;
    list-style: none;
}

#main-content{
    padding: 25px 10px;
}

#lists-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card-list{
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    flex-basis: 200px;
}

.card-list>h2{
    text-align: center;

}

.card-list>ul{
    line-height: 25px;
}

.card-list>ul:hover{
    cursor: pointer;
}

.insert-container{
    display: flex;
}

.insert-container>input{
    width: 60%;
    color: var(--text-color);
    padding: 5px;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
}


.insert-container>button{
    width: 40%;
    cursor: pointer;
    color: white;
    padding: 5px;
    border: none;
    background-color: var(--primary-color);
}